manifest {
    homePage = 'https://github.com/iarcbioinfo/template-nf'
    description = 'template for empty nf pipeline'
    mainScript = 'script.nf'
}

process {
    container = 'iarcbioinfo/template-nf'
    conda = ''
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template-nf_trace.txt"
}

