manifest {
    homePage = 'https://github.com/iarcbioinfo/template-nf'
    description = 'template for empty nf pipeline'
    mainScript = 'script.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/template-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo//template-nf'
  }
}

process {
    shell =  ['/bin/bash','-euo','pipefail']
}

params {
    output_folder = "."
}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_dag.html"
}
