version: 2

jobs:
    build:
      machine: true
      steps:
        - checkout
        - run: wget -qO- get.nextflow.io | bash ; chmod 755 nextflow ; sudo mv ~/project/nextflow /usr/local/bin/ ; sudo apt-get install graphviz
        - run: echo " docker.runOptions = '-u $(id -u):$(id -g)' " > ~/.nextflow/config
        - run: cd ~/project/ ; docker build -t iarcbioinfo/template-nf .
        - run: cd ; nextflow run ~/project/script.nf --help
        - run: cd ; nextflow run ~/project/script.nf -with-docker iarcbioinfo/template-nf -with-dag dag.html
        - run: cd ; mv ~/nf-pipeline_info/template_dag.html ~/project/
        - deploy:
            branch: [dev, master]
            command: chmod +x deploy.sh && ./deploy.sh
